name: "Validate Gradle Wrapper"

on:
  push:
    branches:
    - master
    paths:
      - 'gradlew'
      - 'gradlew.bat'
      - 'gradle/wrapper/**'
      - '.github/workflows/gradle-wrapper-validation.yml'
  pull_request:
    branches:
    - master
    paths:
      - 'gradlew'
      - 'gradlew.bat'
      - 'gradle/wrapper/**'
      - '.github/workflows/gradle-wrapper-validation.yml'

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v2
