name: Appium Java Client CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2.3.0
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew clean build -x signMavenJavaPublication -x test -x checkstyleTest
